:root{
    --swiper-navBtn-color: #2b2c32;
    --swiper-navBtn-bg: rgba(239, 239, 239, 0.4);
    --swiper-navBtn-hover-bg: #2b2c32;
    --swiper-navBtn-hover-color: #efefef;
    --swiper-pagination-bullet-bg: #2b2c32;
    --property-category-color: #e5a45f;
    --sale-rent-color: #30547c;
    --property-details-border-bottom: #000;
}

.container{
    max-width: 1800px;
    width: 100%;
}

.slide-container{
    margin: 0 10px;
    overflow: hidden;
}

.card{
    z-index: 0;
}

.card .image-box{
    height: 350px;
    opacity: 0.7;
    transition: all ease 0.5s;
}

.card .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card.swiper-slide.swiper-slide-active,
.card.swiper-slide.swiper-slide-active .image-box .offer,
.card.swiper-slide.swiper-slide-active .property-details,
.card.swiper-slide.swiper-slide-active .property-category-wrapper{
    opacity: 1;
    z-index: 1;
}

.new-property-cards .card.swiper-slide.swiper-slide-active .image-box{
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

.card .property-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding: 1em 0;
    opacity: 0;
    border-bottom: 1px solid var(--property-details-border-bottom);
    transition: all ease 0.5s;
}

.property-description{
    padding-left: 1em;
}

.property-features{
    padding-right: 1em;
}

.swiper-navBtn,
.swiper-button-next,
.swiper-button-prev{
    color: var(--swiper-navBtn-color);
    height: 40px;
    width: 40px;
    top: 520px;
    background: var(--swiper-navBtn-bg);
    border-radius: 50%;
    border: 1px solid black;
    transition: background ease-in-out 0.3s;
}

.swiper-button-prev{
    left: 20%;
}

.swiper-button-next{
    right: 20%;
}

.swiper-navBtn:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--swiper-navBtn-hover-bg);
    color: var(--swiper-navBtn-hover-color);
}

.swiper-navBtn::before,
.swiper-navBtn::after,
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after{
    font-size: 18px;
}

.swiper-pagination-bullet{
    background: var(--swiper-pagination-bullet-bg);
}

.property-category-wrapper{
    opacity: 0;
    transition: all ease 0.5s;
}

.property-category{
    padding-top: 2em;
    color: var(--property-category-color);
}

.sale-rent{
    color: var(--sale-rent-color);
}

.property-category,
.sale-rent{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.6em;
}

@media(max-width: 768px)
{
    .swiper-navBtn{
        display: none;
    }
}