.container{
    max-width: 1500px;
    width: 100%;
    padding: 40px 0;
}

.slide-container{
    margin: 0 30px;
    overflow: hidden;
}
.card{
    border-radius: 8px;
    z-index: 0;
}
.card .image-box{
    height: 350px;
}

.card .image-box img{
    height: 100%;
    width: 100%;
    padding: 1em;
    object-fit: cover;
    opacity: 0.7;
    transition: all ease 0.5s;
}

.card.swiper-slide.swiper-slide-active{
    z-index: 1;
}

.card.swiper-slide.swiper-slide-active .property-details{
    opacity: 1;
}

.new-property-cards .card.swiper-slide.swiper-slide-active .image-box img{
    transform: scale(1.2);
    opacity: 1;
    z-index: 2;
}

.card .property-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding-top: 2em;
    padding-bottom: 1em;
    opacity: 0;
    border-bottom: 1px solid #000;
    transition: all ease 0.5s;
}

.swiper-navBtn{
    color: #ffffff;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.315);
    border-radius: 50%;
    transition: background ease-in-out 0.3s;
}

.swiper-navBtn:hover{
    background: rgba(0, 0, 0, 0.8);
}

.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 18px;
}

.swiper-pagination-bullet{
    background: #000;
}
