.container{
    max-width: 1500px;
    width: 100%;
    padding: 40px 0;
}

.slide-container{
    margin: 0 10px;
    overflow: hidden;
}
.card{
    z-index: 0;
}
.card .image-box{
    height: 350px;
    opacity: 0.7;
    transition: all ease 0.5s;
}

.card .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .image-box .offer{
    position: absolute;
    top: 0.3em;
    left: 3em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border-radius: 0.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.5s;
}

.offer.top{
    background: #2596be;
}

.offer.no-commision{
    background: #30547c;
}

.offer.new{
    background: #a0e55f;
}

.offer.deposit{
    background: rgb(255, 185, 81);
}

.offer.sold{
    background: #f55858;

}

.card.swiper-slide.swiper-slide-active,
.card.swiper-slide.swiper-slide-active .image-box .offer,
.card.swiper-slide.swiper-slide-active .property-details,
.card.swiper-slide.swiper-slide-active .property-category-wrapper{
    opacity: 1;
    z-index: 1;
}

.new-property-cards .card.swiper-slide.swiper-slide-active .image-box{
    transform: scale(1.1);
    opacity: 1;
    z-index: 2;
}

.card .property-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    padding: 1em 0;
    opacity: 0;
    border-bottom: 1px solid #000;
    transition: all ease 0.5s;
}

.property-description{
    padding-left: 1em;
}
.property-features{
    padding-right: 1em;
}

.swiper-navBtn,
.swiper-button-next,
.swiper-button-prev{
    color: #ffffff;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.315);
    border-radius: 50%;
    transition: background ease-in-out 0.3s;
}

.swiper-navBtn:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: rgba(0, 0, 0, 0.8);
}

.swiper-navBtn::before,
.swiper-navBtn::after,
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after{
    font-size: 18px;
}

.swiper-pagination-bullet{
    background: #2b2c32;
}

.property-category-wrapper{
    opacity: 0;
    transition: all ease 0.5s;
}

.property-category{
    padding-top: 2em;
    color: #e5a45f;
}

.sale-rent{
    color: #30547c;
}

.property-category,
.sale-rent{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.6em;
}

@media(max-width: 768px)
{
    .swiper-navBtn{
        display: none;
    }
}

