:root{
    --footer-bg: #292c32;
    --footer-header-color: #f2ffff;
    --footer-text-color: #f2ffff;
    --footer-article-bg: #3d485d;
    --footer-border-color: #e4e4e4;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background: var(--footer-bg);
    color: var(--footer-text-color);
}

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.socials-wrapper img{
    width: 80px;
    margin-bottom: 1em;
    filter: brightness(0) invert(1);
}

.socials-links{
    display: flex;
    gap: 1em;
}

.socials-links a i{
    font-size: 1.5rem;
    color: var(--footer-text-color);
    
}

.footer-elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 2em;
    width: 100%;
    font-size: 0.8rem;
}

.footer-element{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    gap: 1em;
    max-width: fit-content;
}

.footer-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
}

.footer-list.articles{
    flex-direction: column;
    flex: 1;
    gap: 1em;
}

.footer-list.articles .footer-article-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.8rem;
    background: var(--footer-article-bg);
    padding: 1em;
    width: 400px;
    border-radius: 0.3rem;
}

.footer-list a{
    color: var(--footer-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.footer-header{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #8e918e;
}

.newsletter-section{
    display: flex;
    justify-content: center;
    color: var(--footer-bg);
}

.newsletter-form{
    position: relative;
    width: 100%;
}

.newsletter-wrapper{
    display: flex;
    flex-direction: column;
    background: var(--footer-bg);
    max-width: 500px;
}

.newsletter-header{
    text-align: start;
    color: var(--footer-text-color);
}

.newsletter-text{
    color: var(--footer-text-color);
    font-size: 16px;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
    width: 450px;
}

input[type=text]{
    position: relative;
    width: 100% !important;
    border-bottom: none !important;
}

.subscribe-button{
    position: absolute;
    width: 40px !important;
    background: #292c32 !important;
    color: #f2ffff !important;
    top: 0.3em;
    right: 0.2em;
}

.footer-list li a{
    display: inline-block;
}

.footer-list li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--footer-text-color);
    transition: width 0.3s;
}

.footer-list li a:hover::after{
    width: 100%;
}

.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-wrapper input{
    background: #f9fafb;
    border-radius: 5px;
}

.input-wrapper label{
    color: #8e918e;
    display: none;
}

.subscribe-button{
    padding: 1em;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.copyright-wrapper{
    text-align: center;
    padding: 1em;
    background: var(--footer-bg);
    color: #8e918e;
}

@media(max-width: 768px)
{
    .footer-logo{
        position: relative;
        left: 0;
        margin-top: 2em;
        margin-bottom: -2em;
    }
    .footer-elements{
        width: 100%;
        gap: 2em;
    }

    .footer-list.articles{
        width: 100%;
    }

    .footer-list.articles .footer-article-card{
        width: 100%;
    }
    
    fa-solid.fa-envelope-open-text{
       font-size: 1rem;
    }

    .newsletter-content{
        width: 100%;
    }
}