.footer-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials-wrapper img{
    width: 80px;
    margin-bottom: 1em;
    filter: brightness(0);
}

.socials-links{
    display: flex;
    gap: 1em;
}

.socials-links a i{
    font-size: 1.5rem;
    color: #333;
    
}

.footer-elements{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    padding: 2em;
    font-size: 0.8rem;
}

.footer-element{
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    gap: 1em;
    flex: 1;
}

.footer-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
}

.footer-list.articles{
    flex-direction: column;
    gap: 1em;
}

.footer-list.articles .footer-article-card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 0.8rem;
    background-color: #eeeeee;
    padding: 1em;
    width: 400px;
    border-radius: 0.3rem;
}

.footer-list a{
    color: #333;
    text-decoration: none;
}

.footer-header{
    font-weight: 500;
    font-size: 1.2rem;
}

.newsletter-section{
    display: flex;
    justify-content: center;
}

.newsletter-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    width: 80%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;;
}

.newsletter-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.input-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.fa-solid.fa-envelope-open-text{
    font-size: 5rem;
}

.newsletter-text{
    text-align: center;
}

.newsletter-form{
    padding: 2em 0;
}

.subscribe-button{
    padding: 1em;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
}

.copyright-wrapper{
    text-align: center;
    padding: 1em;
}

@media(max-width: 768px)
{
    .footer-logo{
        position: relative;
        left: 0;
        margin-top: 2em;
        margin-bottom: -2em;
    }
    .footer-elements{
        width: 100%;
        gap: 2em;
    }

    .footer-list.articles{
        width: 100%;
    }

    .footer-list.articles .footer-article-card{
        width: 100%;
    }
    
    fa-solid.fa-envelope-open-text{
       font-size: 1rem;
    }
}