html{
    --listing-floating-color: wheat;
}

.listing-background-img{
    background-image: url(../images/property3.jpeg);
    height: 75vh;
    background-size: cover;
    background-position: center;
}
.listing-floating-info{
    width: 80%;
    border-radius: 15px;
    background-color: var(--listing-floating-color);
    left: 50%;
    transform: translate(-50%,-70%);
    position: absolute;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.property-features{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
}

.listing-presentation{
    width: 80%;
    margin: 60px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 10px;
}
.listing-presentation-paragraph-wrapper{
    display: flex;
    gap: 15px;
}
.listing-presentation-paragraph-wrapper > p{
    width: 50%;
    min-width: 250px;
    border: 1px solid red;
    padding: 1em;
}

.listing-gallery {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    border: 1px solid red;
    padding: 2em;
}
