html{
    --listing-floating-color: wheat;
}

.broker-contact input[type=text],
.broker-contact input[type=tel],
.broker-contact textarea{
    width: auto;
}

.listing-background-img{
    position: relative;
    height: 75vh;
    /* background-size:contain; */
    /* background-position:center; */
    transition: height 0.5s ease;
}

.swiper-pagination{
    display: none;
}

.cubic::after{
    content: '2';
    font-size: 10px;
    position: relative;
    top: -0.5em;
}
.listing-floating-info{
    width: 80%;
    border-radius: 15px;
    /* background-color: var(--listing-floating-color); */
    background-color: rgba(239, 239, 239, 0.9);
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    opacity:1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.property-features{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
}
.property-features > li {
    min-width: 150px;
    margin-top: 10px;
    /* font-size: 1.2em; */
    display: flex;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
}
.property-features i,
.fa-expand{
    font-size: 1.2em;
}
.expand-listing-images{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.listing-presentation,
.listing-overview{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2em;
    gap: 10px;
}
.listing-overview{
    margin: 170px auto 0px auto;
    /* border: 1px solid red; */
}
.listing-presentation-paragraph-wrapper{
    display: flex;
    align-items: start;
    gap: 15px;
}
.listing-presentation-paragraph{
    border: 2px solid rgb(239, 239, 239);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-direction: column;
}
.listing-presentation-paragraph ul{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-direction: column;
}

.listing-background-img.active{
    height: 100vh;
}
.listing-floating-info.active {
    opacity: 0;
    transform: translate(-50%, 10%);
}

.contact-broker-form-wrapper{
    background-color: rgb(239, 239, 239);
    padding: 2em;
    min-width: 350px;
}
.input-wrapper input,
.input-wrapper textarea {
    background-color: transparent;
}

.submit-btn {
    border: none;
    background-color: white;
    width: 100%;
    padding: 1em;
    cursor: pointer;
}

.broker-contact-card{
    display: flex;
}
.broker-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.broker-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

textarea:focus + label{
    background: #efefef;
}

.expand-listing-images,
.compress-listing-images{
    border:1px solid grey;
    padding: 1em;
    background-color: rgba(239, 239, 239, 1);
    cursor: pointer;
}
.compress-listing-images{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    opacity: 0.9;
    display: none;
}
.site-header{
    transition: transform 0.3s ease;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.site-header.active{
    transform: translateY(-100%);
}
/* needs to be tuned doesnt work */
.listing-overview-info-wrapper{
    border: 2px solid rgb(239, 239, 239);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.listing-overview-info-wrapper > * {
    min-width: 100px;
}
/* ----------------------------- */
/* Only for visual representation of the various options */
.listing-overview-info-wrapper > ul {
    list-style-type:circle;
}
.listing-overview-info-wrapper ul:nth-child(3){
    list-style-type:decimal;
}
.listing-overview-info-wrapper ul:nth-child(5),
.listing-overview-info-wrapper ul:nth-child(4){
    list-style-type: none;
    position: relative;
}
.listing-overview-info-wrapper ul:nth-child(5) > li::before{
    position: absolute;
    content: "\2715";
    color: red;
    left: -15px;
}
.listing-overview-info-wrapper ul:nth-child(4) > li::before{
    position: absolute;
    content: "\2713";
    color: green;
    left: -15px;
}
/* ----------------------------------------------------- */

.listing-price-wrapper{
    /* border: 2px solid rgb(239, 239, 239); */
    position: relative;
    padding: 1em;
    background-color: cadetblue;
    font-weight: bold;
    color: white;
}
.listing-price-wrapper::before{
    /* border: 2px solid rgb(239, 239, 239); */
    background-color: cadetblue;
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    left: -25px;
    /* border: 1px solid red; */
}


@media (max-width: 768px) {
    .listing-floating-info{
        width: 100%;
        transform: translate(0%,0%);
        position: static;
        padding: 1em;
        border-radius: 0;
        box-shadow: none;
        transition: none;
    }
    .listing-background-img:hover + .listing-floating-info {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    .listing-presentation,
    .listing-overview{
        width: 100%;
        margin: 30px auto 0px auto;
        padding: 1em;
    }
    .swiper-pagination{
        display: block;
    }
    .listing-background-img:hover{
        transform: translateY(0%);
        transition-delay: 0s;
    }
    .expand-listing-images{
        content: '';
    }
}

@media (max-width: 950px){
    .listing-presentation-paragraph-wrapper{
        flex-direction: column;
    }
    .expand-listing-images.shrink{
        position: absolute;
        top: -55px;
        right: 10px;
        width: auto;
        border-radius: 20%;
        opacity: 0.7;
        font-size: 1.1em;
        padding:0.6em ;
        font-weight: bold;
    }
    .expand-listing-images.shrink span{
        display: none;
    }
    .listing-overview-info-wrapper{
        flex-direction: column;
        align-items: start;
    }
    .contact-broker-form-wrapper{
        width: 100%;
    }
}