html{
    --listing-floating-color: wheat;
}

.site-header{
    background-image: none;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.nav-contacts{
    display: none;
}


.broker-contact input[type=text],
.broker-contact input[type=tel],
.broker-contact textarea{
    width: auto;
}

.listing-background-img{
    position: relative;
    height: 75vh;
    transition: height 0.5s ease;
}

.swiper-pagination{
    display: none;
}

.cubic::after{
    content: '2';
    font-size: 10px;
    position: relative;
    top: -0.5em;
}
.listing-floating-info{
    width: 85%;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(250,250,252, 0.9);
    backdrop-filter: blur(5px);
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    opacity:1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.property-features-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    width: 100%;
    margin-top: 1em;
}

.price-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1em;
}

.price-info-wrapper{
    display: flex;
    gap: 0.5em;
}

.price{
    font-size: 1.8em;
    font-weight: bold;
    color: #659df1;
    text-wrap: nowrap;
}

.call{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #659df1;
    border: 1px solid #659df1;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    width: 300px;
    transition: all 0.2s ease-in-out;
}

.call:hover{
    background-color: #659df1;
    color: white;
}

.call:hover i{
    color: white !important;
}

.fa-phone{
    color: #659df1 !important;
}

.interest{
    font-size: 0.9em;
    font-weight: normal;
}

.phone-wrapper{
    text-align: start;
    gap: 0.5em;

}
.property-features-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}

.property-features{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    flex: 1;
    padding: 0.8em;
    row-gap: 1em;
}
.property-features:nth-child(1){
    border-bottom: 1px dashed rgb(117, 117, 117);
}
.property-features > li {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.label-info{
    display: flex;
    gap: 0.3em;
    font-weight: normal;
}

.info-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}
.fa-expand,
.fa-compress{
    font-size: 1.4em;
}

.property-features i{
    font-size: 1.2em;
    color: #659df1;
}

.property-type{
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "Pacifico", cursive;
    color: #eeb3a7;
}

.listing-presentation{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2em;
    gap: 10px;
    margin: 200px auto 0px auto;
}
.listing-presentation-paragraph-wrapper{
    display: flex;
    align-items: start;
    gap: 15px;
}
.listing-presentation-paragraph{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    flex-direction: column;
}
.listing-presentation-paragraph ul{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-direction: column;
}

.listing-background-img.active{
    position: relative;
    height: 100vh;
}
.listing-floating-info.active {
    opacity: 0;
    transform: translate(-50%, 10%);
}

.listing-floating-info{
    color: #4b545b;
}

.property-address,
.property-text{
    color: #8c8c8d;
}

.property-text{
    padding: 1em;
    width: 80%;
}

.contact-broker-form-wrapper{
    padding: 1em;
    min-width: 350px;
    border-radius: 0.5em;
}
.input-wrapper input,
.input-wrapper textarea {
    background-color: transparent;
}

.submit-btn {
    border: none;
    background-color: white;
    width: 100%;
    padding: 1em;
    cursor: pointer;
}

.listing-presentation-heading{
    font-size: 2em;
    font-weight: 600;
    color: #659df1;
    text-align: center;
}

.broker-contact-card{
    display: flex;
}
.broker-contact{
    padding-top: 1em;
}
.broker-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.broker-contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

textarea:focus + label{
    background: #efefef;
}

.expand-listing-images{
    position: absolute;
    right: 1em;
    bottom: 1em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    padding: 1em;
    color: #659df1;
    background-color: rgba(239, 239, 239, 0.8);
    cursor: pointer;
    animation-name: opacity-bg;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: forward;
    animation-timing-function: ease-in-out;
}

@keyframes opacity-bg{
    0%{
        background-color: rgba(239, 239, 239, 0.7);
    }
    25%{
        background-color: rgba(239, 239, 239, 0.8);
    }
    50%{
        background-color: rgba(239, 239, 239, 1);
    }
    75%{
        background-color: rgba(239, 239, 239, 0.8);
    }
    100%{
        background-color: rgba(239, 239, 239, 0.7);
    }
}

.site-header{
    transition: transform 0.3s ease;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.site-header.active{
    transform: translateY(-100%);
}
/* needs to be tuned doesnt work */
.listing-overview-info-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.listing-features-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

}

.listing-overview-info-wrapper > * {
    min-width: 100px;
}
/* ----------------------------- */
/* Only for visual representation of the various options */
.listing-overview-info-wrapper > ul {
    list-style-type:circle;
}
.listing-overview-info-wrapper ul:nth-child(3){
    list-style-type:decimal;
}
.listing-overview-info-wrapper ul:nth-child(5),
.listing-overview-info-wrapper ul:nth-child(4){
    list-style-type: none;
    position: relative;
}
.listing-overview-info-wrapper ul:nth-child(5) > li::before{
    position: absolute;
    content: "\2715";
    color: red;
    left: -15px;
}
.listing-overview-info-wrapper ul:nth-child(4) > li::before{
    position: absolute;
    content: "\2713";
    color: green;
    left: -15px;
}
/* ----------------------------------------------------- */

.listing-price-wrapper{
    /* border: 2px solid rgb(239, 239, 239); */
    position: relative;
    padding: 1em;
    background-color: cadetblue;
    font-weight: bold;
    color: white;
}
.listing-price-wrapper::before{
    /* border: 2px solid rgb(239, 239, 239); */
    background-color: cadetblue;
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0;
    left: -25px;
    /* border: 1px solid red; */
}

.listing-features{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.8em;
    flex-wrap: wrap;
}

.listing-features:nth-last-child(2){
    border-right: 1px dotted grey;
}

@media (max-width: 768px) {
    .listing-floating-info{
        width: 100%;
        transform: translate(0%,0%);
        position: static;
        padding: 1em;
        border-radius: 0;
        box-shadow: none;
        transition: none;
    }
    .listing-background-img:hover + .listing-floating-info {
        opacity: 1;
        transform: translate(0%, 0%);
    }
    .listing-presentation,
    .listing-overview{
        width: 100%;
        margin: 30px auto 0px auto;
        padding: 1em;
    }
    .swiper-pagination{
        display: block;
    }
    .listing-background-img:hover{
        transform: translateY(0%);
        transition-delay: 0s;
    }

    .property-features-wrapper{
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .property-features-list-wrapper{
        width: 100%;
        flex-wrap: wrap;
    }

    .property-features{
        padding: 0.5em;
    }

    .property-text{
        width: 100%;
    }

    
}

@media (max-width: 950px){
    .listing-presentation-paragraph-wrapper{
        flex-direction: column;
    }
    .contact-broker-form-wrapper{
        width: 100%;
    }

    .property-features-wrapper{
        flex-direction: column-reverse;
        gap: 1em;
    }

    .property-features-list-wrapper{
        width: 100%;
    }

    .property-features{
        border-bottom: 1px dashed rgb(117, 117, 117);
    }

    .info-wrapper{
        flex-direction: column;
    }

    .price-contact-wrapper{
        width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}