:root{
    --header-border-color: #b09480;
    --header-color: #3d485d;
    --header-decription-color: #b09480;
    --view-more-link-color: #3d485d;
    --more-properties-border-color: #3d485d;
    --more-propertues-bg-hover: #3d485d;

    --property-features-color: rgb(65, 75, 90);
    --property-feature-bg: #efefef;
    --property-price-bg: #3d485d;
    --property-price-color: #fff;

    --swiper-slide-bg: #ffffff;

    --services-bg: #b09480;
    --services-bg-hover: #efefef;
    --services-color: #efefef;
    --services-color-hover: #3d485d;
    --services-border-color: #efefef;

    --article-bg: #efefefd0;
    --article-date-color: gray;
}

.main{
    padding: 2em 0;
}

.container-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    text-align: center;
}

.header{
    font-size: 3rem;
    font-weight: 500;
    color: var(--header-color);
}

.header::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--header-border-color);
    border-radius: 10px;
}

.description{
    padding: 0 1em;
    font-size: 1.5rem;
    font-family: "Pacifico", cursive;
    text-align: center;
    font-style: italic;
    color: var(--header-decription-color);
}

.property-feature{
    display: flex;
    gap: 0.5em;
}

.view-more-link-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    text-decoration: none;
    font-weight: 500;
    color: var(--view-more-link-color);
    width: 100%;
}

.cubic::after{
    content: '2';
    font-size: 10px;
    position: relative;
    top: -0.5em;
}

.more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    text-decoration: none;
    font-weight: 500;
    color: var(--view-more-link-color);
    border: 2px solid var(--more-properties-border-color);
    padding: 0.5em;
    transition: 
        color ease-in-out 0.3s, 
        background ease-in-out 0.3s, 
        border-radius ease-in-out 0.3s;
}

.more:hover{
    background: var(--more-propertues-bg-hover);
    color: #fff;
    border-radius: 5px;
}

.property-features-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 250px;
    font-size: 1rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: var(--property-features-color);
}

.property-feature{
    background: var(--property-feature-bg);
    padding: 0.5em;
    border-radius: 5px;
}

.property-description{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 8px;
    margin-top: 1em;
}

.property-location{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.property-price{
    font-size: 1.1rem;
    font-weight: bold;
    background: var(--property-price-bg);
    color: var(--property-price-color);
    text-align: center;
    width: 150px;
    padding: 0.4em;
    border-radius: 5px;
}

.latest-articles{
    margin-top: 3em;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    position: relative;
    font-size: 18px;
    background: var(--swiper-slide-bg);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .latest-articles .image-box{
    position: relative;
    height: 500px;
    width: 100%;
    padding: 0em 3em;
}

.article-description{
    display: flex;
    flex-direction: column;
    gap: 3em;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 5em;
    transform: translateY(-50%);
    background: var(--article-bg);
    width: 500px;
    padding: 1.5em;
}

.article-title{
    font-size: 2rem;
    font-weight: 500;

}

.latest-articles .header{
    font-size: 2.5rem;
}

.swiper-wrapper{
    margin-top: 2em;
}

.article-description .article-date{
    font-size: 1.2rem;
    font-style: italic;
    color: var(--article-date-color);
}

.services-wrapper{
    padding: 2em 0;
    margin-top: 2em;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 20%, rgba(239,239,239,1) 80%, rgba(255,255,255,0) 100%);
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2em;
    margin-top: 2em;
    padding: 0 1em;
}

.service-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 1em;
    background: var(--services-bg-hover);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    color: var(--services-color-hover);
    transition: all 0.2s ease-in-out;
}

.service-card:hover{
    background: var(--services-bg);
    color: var(--services-color);
    transform: scale(1.02);
}

.service-card i{
    font-size: 3rem;
}

.service-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    width: 100%;
}

.service-text{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: center;
}

.service-description .service-title{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-wrap: nowrap;
}

.service-link{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--services-color-hover);
    padding: 0.5em 1em;
    width: max-content;
    text-decoration: none;
    color: var(--services-bg);
    font-weight: bold;
    font-size: 1.1rem;
    transition: 
        background ease-in-out 0.2s, 
        color ease-in-out 0.2s;
}

.service-link:hover{
    background: var(--services-bg-hover);
    color: var(--services-color-hover);
}

.service-description .service-link i{
    font-size: 1.1rem;
}

@media(max-width: 768px)
{
    .card .property-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .property-features-list{
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 0.8rem;
        width: 100%;
    }

    .property-description{
        padding: 0em !important;
        margin: 0;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
    }

    .property-feature{
        justify-content: center;
        text-wrap: nowrap;
    }

    .property-features{
        padding: 0em !important;
    }

    .latest-articles .image-box{
        padding: 0;
    }

    .article-description{
        width: 100%;
        left: 0;
        padding: 1em;
        gap: 2em;
    }

    .article-title{
        font-size: 1.4rem;
    }

    .article-text{
        font-size: 1rem;
    }

    .swiper-button-next.article-btn,
    .swiper-button-prev.article-btn{
        display: none;
    }

    .service-card i{
        font-size: 3rem;
    }

    .service-description .service-title{
        font-size: 1.8rem;
    }

    .service-link{
        width: 100%;
        text-align: center;
    }

    .service-list{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 1200px){
    .service-card:hover{
        background: none;
        color: var(--services-bg);
        transform: none;
    }

    .service-card.focus{
        background: var(--services-bg);
        color: var(--services-color);
        transform: scale(1.02);
    }
    
}