:root{
    --nav-bg-color: rgba(63, 63, 63, 0.37);

    --text-color: #ffffff;
    --element-color-white: #ffffff;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.burger div {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--element-color-white);
    border-radius: 10px;
    position: relative;
    transform-origin: 0px;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.burger.active div:nth-child(1){
    transform: rotate(45deg);
}

.burger.active div:nth-child(2){
    opacity: 0;
}

.burger.active div:nth-child(3){
    transform: rotate(-45deg);
}

.site-header{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url('../images/main-bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
}

.fa-solid.fa-phone{
    color: #fff;
}

.contacts-wrapper{
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 0.5rem 15% 0.5rem 0;
    border-bottom: 1px solid var(--element-color-white);
}

.site-header a{
    text-decoration: none;
    text-wrap: nowrap;
    color: var(--text-color);
    line-height: 18px;
    letter-spacing: 0.05em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

.site-header a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: var(--element-color-white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.site-header a:not(.logo-link):hover:after { 
    width: 100%; 
    left: 0; 
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1rem;
    transition: all 0.3s ease-in-out;
}

.main-nav.scrolled{
    background: var(--nav-bg-color);
    backdrop-filter: blur(7px);
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.main-nav.scrolled .burger{
    right: 3em;
}

.logo{
    width: 80px;
    filter: brightness(0) invert(1);
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style-type: none;
}

.login-element{
    display: flex;
    gap: 1rem;
    padding-right: 2rem;
}

.nav-element .login-element{
    display: none;
}

.site-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-header{
    text-transform: uppercase;
}

.site-welcome .site-brand{
    filter: brightness(0) invert(1);
    margin-top: -6rem;
    margin-bottom: -5rem;
    pointer-events: none;
}

.site-welcome h2{
    margin-top: 2em;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.site-welcome p{
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.search-wrapper{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.search-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1em;
    max-width: 900px;
    border-radius: 0.5rem;
    background: #ffffffc7;
}

.vertical-splitter{
    border-left: 1px solid #333;
    height: 30px;
}

.selection-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

select{
    padding: 0.5em;
    border-right: 1px solid #333;
    min-width: 200px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    background: #405a5e;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0 auto;

}

@media(max-width: 950px){

    .burger {
        display: flex;
        position: absolute;
        right: 2em;
    }

    .nav-element .login-element{
        display: flex;
        position: absolute;
        border-top: 2px solid var(--element-color-white);
        padding-top: 1rem;
        padding-left: 1.5em;
        margin-top: 5rem;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1em;
    }

    .nav-wrapper{
        position: fixed;
        overflow: hidden;
        opacity: 0;
        left: 0;
        background: var(--nav-bg-color);
        backdrop-filter: blur(7px);
        z-index: 9;
        width: 0%;
        height: 800px;
        transition: all 0.3s ease-in-out;
    }

    .main-nav.active .nav-wrapper{
        overflow: visible;
        opacity: 1;
        width: 70%;
        border-bottom-right-radius: 1em;
    }

    .nav-elements{
        flex: 1;
        margin-top: 15rem;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        padding: 1rem;
        margin-left: 2.5rem;
    }

    .nav-element{
        border-bottom: 1px solid var(--element-color-white);
    }

    .logo{
        width: 70px;
        padding-left: 1rem;
    }

    .main-nav{
        padding: 0.2rem ;
    }

    .contacts-wrapper{
        justify-content: center;
        align-items: center;
        padding: 0.5em 0;
    }

    .site-welcome h2{
        font-size: 2rem;
        margin-top: 0;
    }

    .site-welcome p{
        font-size: 1rem;
    }

    .site-welcome .site-brand{
        width: 100%;
    }

    .search-form{
        background: transparent;
    }

    .input-wrapper,
    .selection-wrapper{
        flex: 1;
    }

    select{
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        padding: 1.4em;
        width: 100%;
        border-radius: 0.5rem;
    }

    .search-wrapper{
        height: 100%;
    }

    .search-button{
        padding: 0.5em 1em;
        width: 100%;
    }

    .login-element,
    .vertical-splitter{
        display: none;
    }

}