footer{
    display: none;
}
/* .sign-in-container-wrapper{
    height: 100vh;
    display: flex;
    background-image: url("/images/main-bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
} */
.sign-in-container{
    /* border: 1px solid red; */
    background-color:rgba(250, 250, 252, 0.8);
    backdrop-filter: blur(5px);
    padding: 2em;
    border-radius: 6px;
    /* width: 360px; */
    color: #45525b;
}
.sign-in-container h2{
    text-align: center;
}
.alt-sign-in-opts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: transparent;
}
.sign-in-container a,
.sign-in-container a:hover,
.sign-in-container a:focus,
.sign-in-container a:active{
    text-decoration: none;
    color: inherit;
}
.btn-sign-in,
.alt-sign-in{
    margin-top:6px;
    text-align: center;
    border: 1px solid #9db1b1;
    width: 100%;
    font-size: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: all 0.1s ease-in-out 0ms;
    user-select: none;
    color: #45525b;
}

.btn-sign-in:hover,
.alt-sign-in:hover{
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}
.btn-sign-in:active,
.alt-sign-in:active{
    transform: scale(0.95);
}

.sign-in-form{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.additional-options{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
.consent{
    font-size: 0.9em;
}
.google-opt i{
    color: #DB4437;
    margin-left: 5px;
}
.facebook-opt i{
    color: #4267B2;
    margin-left: 5px;
}
.show-pass{
    border: none;
    background-color:transparent;
    position: absolute;
    right: 8px;
    top: 14px;
    color: #45525b;
    cursor: pointer;
}

