footer{
    display: none;
}
.sign-in-container-wrapper{
    height: 100vh;
    display: flex;
    background-image: url("/images/main-bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.sign-in-container{
    /* border: 1px solid red; */
    background-color:rgba(250, 250, 252, 0.8);
    backdrop-filter: blur(5px);
    padding: 2em;
    border-radius: 6px;
    /* width: 360px; */
}
.sign-in-container h2{
    text-align: center;
}
.alt-sign-in-opts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    background-color: #fafafc;
    background-color: transparent;
}
.sign-in-container a,
.sign-in-container a:hover,
.sign-in-container a:focus,
.sign-in-container a:active{
    text-decoration: none;
    color: inherit;
}
.btn-sign-in,
.alt-sign-in{
    width: 100%;
    border: none;
    font-size: 1em;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-top:10px;
    padding: 0.5em;
    text-align: center;
    transition: box-shadow 0.2s;
    cursor: pointer;
    background-color: white;
}

.sign-in-form{
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.additional-options{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}
.consent{
    font-size: 0.9em;
}
.google-opt i{
    color: #DB4437;
    margin-left: 5px;
}
.facebook-opt i{
    color: #4267B2;
    margin-left: 5px;
}
.show-pass{
    border: none;
    background-color:transparent;
    position: absolute;
    right: 8px;
    top: 14px;
    cursor: pointer;
}
