*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: transparent;
}

*::-webkit-scrollbar-track{
    background: white;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb{
    background: #919191;
    border-radius: 5px;
}

.main{
    border-bottom: 2px solid #b1b1b1;
}

input[type=text],
input[type=tel]{
    padding: 1em;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 2px solid #b1b1b1;;
}

textarea{
    padding: 1em;
    border-radius: 5px;
    height: 200px;
    width: 616px;
    resize: none;
}

input[type=text] + label,
input[type=tel] + label,
textarea + label{
    position: relative;
    font-size: 14px;
    top: -2.6em;
    left: 0em;
    pointer-events: none;
    background-color: transparent;
    transition: transform 0.2s ease-out;
}

input[type=text]:focus + label,
input[type=tel]:focus + label,
.input-text.has-content + label{
    transform: translateY(-2em);
    font-weight: bold;
}

textarea + label{
    top: -13em;
    left: 1em;
}

textarea:focus + label{
    transform: translateY(-2em);
    font-weight: bold;
    background: #ffffff;
    width: max-content;
}

/* .card .image-box .offer{
    position: absolute;
    top: 0.3em;
    left: 3em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border-radius: 0.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.5s;
} */

.offer{
    position: absolute;
    top: 0.3em;
    left: 3em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border-radius: 0.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.5s;
}

.offer.top{
    background: #2596be;
}

.offer.no-commision{
    background: #30547c;
}

.offer.new{
    background: #a0e55f;
}

.offer.deposit{
    background: rgb(255, 185, 81);
}

.offer.sold{
    background: #f55858;

}
@media(max-width: 950px)
{
    textarea{
        width: 100%;
    }

    input[type=text],
    input[type=tel]{
        width: 100%;
    }
}
