:root{
    --accent-color: #b09480;
}
*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    background: transparent;
}

*::-webkit-scrollbar-track{
    background: white;
    border-radius: 2px;
}

*::-webkit-scrollbar-thumb{
    background: #919191;
    border-radius: 5px;
}

a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
}

.main{
    border-bottom: 2px solid #b1b1b1;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=password]{
    padding: 1em;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 2px solid #b1b1b1;;
}

textarea{
    padding: 1em;
    border-radius: 5px;
    height: 200px;
    width: 616px;
    resize: none;
}

input[type=text] + label,
input[type=tel] + label,
input[type=email] + label,
input[type=password] + label,
textarea + label{
    position: relative;
    font-size: 14px;
    top: -2.6em;
    left: 0em;
    pointer-events: none;
    background-color: transparent;
    transition: transform 0.2s ease-out;
}

input[type=text]:focus + label,
input[type=tel]:focus + label,
input[type=email]:focus + label,
input[type=password]:focus + label,
.input-text.has-content + label{
    transform: translateY(-1.2em);
    font-weight: bold;
}

textarea + label{
    top: -13em;
    left: 1em;
}

textarea:focus + label{
    transform: translateY(-2em);
    font-weight: bold;
    background: #ffffff;
    width: max-content;
}

/* .card .image-box .offer{
    position: absolute;
    top: 0.3em;
    left: 3em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border-radius: 0.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.5s;
} */

.offer{
    position: absolute;
    top: -1em;
    left: 3em;
    padding: 0.5em 1em;
    font-size: 0.8rem;
    border-radius: 0.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    transition: all ease 0.5s;
}

.offer.top{
    background: rgba(61, 72, 93, 0.9);
}

.offer.no-commision{
    background: #000000;
}

.offer.new{
    background: #000000;
}

.offer.deposit{
    background: #000000;
}

.offer.sold{
    background: #000000;
}

.search-wrapper{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.search-form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.select-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5em 1em;
    max-width: 900px;
    border-radius: 0.3rem;
    background: #efefef;
}

.radio-input-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.radio-input{
    display: flex;
    gap: 2em;
}

.input-wrapper.radio{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

input{
    background: none;
}

input[type="radio"]{
    display: none;
}

input[type="radio"] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    width: 250px;
    border-radius: 0.3rem;
    cursor: pointer;
    background: transparent;
    border: 2px solid #efefef;
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

input[type="radio"]:checked + label{
    background: #efefef;
    color: #3d485d;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }


.vertical-splitter{
    border-left: 1px solid #333;
    height: 30px;
}

.selection-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

select{
    padding: 0.5em;
    border-right: 1px solid #333;
    min-width: 200px;
    border: none;
    outline: none;
    color: #3d485d;
    font-weight: 500;
    background: transparent;
    font-size: 1em;
}

.btn-submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    color: #3d485d;
    background: #efefef;
    font-weight: bold;
    font-size: 0.9em;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 0 auto;
}

.swiper-navBtn,
.swiper-button-next,
.swiper-button-prev{
    height: 40px;
    width: 40px;
    top: 520px;
    color: rgba(75, 75, 75, 0.6);
    font-size: 2.5rem;
    border: none;
    border-radius: 50%;
    transition: color ease-in-out 0.3s;
}

.swiper-button-prev{
    left: 20%;
}

.swiper-button-next{
    right: 20%;
}

.swiper-navBtn:hover,
.swiper-button-next:hover,
.swiper-button-prev:hover{
    color: rgba(75, 75, 75, 0.9);
}

.swiper-navBtn::before,
.swiper-navBtn::after,
.swiper-button-next::before,
.swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after{
    display: none;
}

.swiper-pagination-bullet{
    background: var(--swiper-pagination-bullet-bg);
}

.select2-selection__rendered {
    padding-left: 5em; 
}


.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: none;
    border-bottom: 2px solid #e0e0e0;
    color: var(--select2-color);
    font-weight: 600;
    padding-left: 1em;
    width: 100%;
    transition: all 0.2s ease-in-out;
    border-radius: 0;
}

.select2-selection__choice__display {
    color: var(--select2-color);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--single .select2-selection__choice {
    color: var(--select2-color) !important;
    background: none;
    border: none;
}

.select2-selection__choice__remove {
    color: var(--select2-color) !important;
    font-weight: 600;
    border-right: none !important;
}

.select-wrapper {
    width: 100%;
    padding: 0.5em 1em;
}

.select2-search__field::placeholder,
.select2-selection__placeholder {
    color: var(--select2-color) !important;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    border: none;
    border-bottom: 2px solid var(--select-border-bottom-focus);
}

.select2-selection--multiple::before,
.select2-selection--single::before {
    content: "\203A";
    transform: rotate(90deg);
    position: absolute;
    right: 0.2em;
    font-size: 22px;
}

.select2-selection__arrow{
    display: none;
}

.selection-wrapper,
.drop-down-selection-container{
    gap: 2em;
}

@media(max-width: 1047px){
    input[type="radio"] + label{
        width: 100%;
    }

    .select-wrapper{
        flex-direction: column;
        background: transparent;
        padding-bottom: 2em;
    }

    .input-wrapper,
    .selection-wrapper,
    .radio-input{
        flex: 1;
    }

    .radio-input-wrapper{
        display: flex;
        padding: 0 1em;
        width: 100%;
    }

    select{
        background: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(5px);
        padding: 1em;
        width: 100%;
        border-radius: 0.3rem;
    }

    .search-wrapper{
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .btn-submit{
        width: 100%;
    }
}

@media(max-width: 950px)
{
    textarea{
        width: 100%;
    }
    .search-wrapper{
        margin-top: 60px;
    }
}
