.msg-container{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow: hidden;
}

.msg-table-container{
    overflow: scroll;
}

.msg-table{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
}

.table-head th {
    background-color: #3d485d;
    color: white;
    padding: 12px 8px;
    text-transform: uppercase;
    font-weight: bold;
}
.msg-entry{
    font-weight: 600;
}
.msg-entry:nth-child(even) {
    background-color: #f2f2f2;
}

.msg-entry:hover {
    background-color: #ddd;
}

.msg-entry.read{
    font-weight: 400;
    color: #84888e;
}
.msg-options {
    display: flex;
    flex-direction: column;
}
.msg-options a {
    flex-grow: 1;
}
.viewBtn:visited{
    color: white;
}

.viewBtn,
.deleteBtn{
    padding: 5px 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    color: white;
    font-size: 16px;
    background-color: #3d485d;
}
.deleteBtn {
    background-color: red;
}

.msg-pagination{
    display: flex;
}

.page-number a{
    background-color: #3d485d;
    color: white;
    font-weight: 600; 
    font-size: 14px;
    margin: 0 6px;
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
}

.msg-nav{
    display: flex;
}

.msg-nav li{
    list-style-type: none;   
}

.msg-nav li a{
    color: white;
    background-color: #3d485d;
    font-weight: 500;
    margin: 0 6px;
    padding: 6px;
    border-radius: 6px;
}

.msg-nav li a:hover,
.page-number a{
    background-color: #566071;
}

@media (max-width: 768px) {
    tr > *:nth-child(2),
    tr > *:nth-child(1){
    display: none;
    }
}

